[submodule "frontend"]
	path = frontend
	url = https://github.com/liamjogal/excercise.git
[submodule "exercise"]
	path = exercise
	url = https://github.com/liamjogal/exercise




[submodule "exercise_backend"]
	path = exercise_backend
	url = https://github.com/liamjogal/exercise_backend.git
[submodule "exercise_frontend"]
	path = exercise_frontend
	url = https://github.com/liamjogal/exercise_frontend.git
